/* Root */
:root{
  --landing-bg-color: linear-gradient(178deg, #e8cbc0, #ffafbd, #636fa4);
  --bio-bg-color:#e8cbc0;
  --projects-bg-color: linear-gradient(to right,#CCB1EF, #FFB88C);
  --primary-text-color: #334379;
  --secondary-text-color: white;
  --expertise-bg-color: #DDD6F3;
  --contact-bg-color: linear-gradient(to right, #DDD6F3, #FAACA8)
}
.container {
  display: flex;
  flex-direction: column;
  margin: 20 15;
}

body {
  margin: 0;
}

p {
  font-family: sans-serif;
}
.landing-container {
  text-align: left;
  border: 2px solid black;
  height: 100vh;
  background: var(--landing-bg-color);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 19s ease infinite;
  -moz-animation: AnimationName 19s ease infinite;
  animation: AnimationName 19s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:46% 0%}
  50%{background-position:55% 100%}
  100%{background-position:46% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:46% 0%}
  50%{background-position:55% 100%}
  100%{background-position:46% 0%}
}
@keyframes AnimationName {
  0%{background-position:46% 0%}
  50%{background-position:55% 100%}
  100%{background-position:46% 0%}
}


.landing-text__container {
  margin-left: 2rem;
  margin-right: 2rem;
}

.nav {
  margin-top: 20px;
  margin-right: 4rem;
}
.nav-link {
  text-decoration: none;
  float: right;
  margin-right: 30px;
  margin-top: 1rem;
  color: var(--primary-text-color);
  font-family: sans-serif;
} 

.about-me__text, .projects--text{
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 1.5em;
}

.about-me__title {
  color: var(--primary-text-color);
  font-size: 2.1em;
}

.about-me-text__container{
  margin-right: 40px;
  margin-left: 40px;
}

.about-me__container {
  background: var(--bio-bg-color);
  height: 100vh;
}

.about-me__text {
  color: var(--primary-text-color);
  font-family: 'Montserrat', sans-serif;
}
/* Projects */
.projects-container {
  background: var(--projects-bg-color);
  color: var(--secondary-text-color);
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

.projects--heading, .projects--role{
  color: var(--primary-text-color)
}

.project-card {
  margin: 0 auto;
}

.projects--text {
  text-align: justify;
  color: var(--primary-text-color);
}

.expertise-container {
  background: var(--expertise-bg-color);
  height: 100vh;
}
.expertise--title, .contact--title {
  flex-grow: 2;
  width: 100%;
  -webkit-text-stroke: 3px #383775;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: 3px #383775;
  -webkit-text-fill-color: transparent;

}
.expertise--list-1, .expertise--list-2 li {
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
  color:  #383775
} 

/* Contact */
.contact-container {
  height: 95vh;
  background: var(--contact-bg-color);
}
.contact--title {
  font-size: 4em;
  margin-bottom: 10px;
}
.contact__text-container{
  text-align: center;
  margin-top: 100px;
  padding: 90px 0;
}
.contact--subtitle {
  font-size: 3em;
  margin-top: 0px;
  padding-top: 0px;
}

/* footer */
footer {
  background: var(--contact-bg-color);
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer a {
  margin-right: 1.5em;
  text-decoration: none;
  color: inherit;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.contact--subtitle {
  font-size: 1.25em;
  margin-top: 0px;
  padding-top: 0px;
}
/* MEDIA QUERIES */

/* Mobile devices */
@media only screen and (min-width: 320px) {
  .landing-text__container {
    margin-left: 0.7em;
    margin-right: 0.7em;
    margin-top: 50%;
  }
  .landing-text__title {
    font-size: 2.23em;
    -webkit-text-stroke: 3px white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: 3px white;
    -webkit-text-fill-color: transparent;
    font-family: 'Arimo', sans-serif;
  }

  .landing-text__subtitle {
    font-size: 1.7em;
    margin-bottom: 0px;
    -webkit-text-stroke: 3px white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: 3px white;
    -webkit-text-fill-color: transparent;
    font-family: 'Arimo', sans-serif;
  }
  .landing-text__intro {
    font-size: 0.9em;
    -webkit-text-stroke: 0.75px white;
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: 0.5px white;
    -webkit-text-fill-color: transparent;
    font-family: 'Arimo', sans-serif;
}

  /* About */
  .about_me {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  }
  .about-me__title, .projects--title, .expertise--title {
    font-size: 3em;
    margin-left: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: left;
    flex-grow: 3;
    font-weight: 1000;
    font-family: 'Arimo', sans-serif;
}

.projects--title {
  -webkit-text-stroke: 3px white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: 3px white;
    -webkit-text-fill-color: transparent;
}

  .about_me-text__container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .projects--text, .about-me__text {
    /* font-size: 0.8em; */
  }

  .project-card {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  /* .projects--role {
    font-size: 1.2em;
    margin-top: 0.4em;
  } */
  .contact__text-container {
    text-align: center;
    margin-top: 5rem;
    padding: 90px 0;
  }
  .contact--title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: 'Arimo', sans-serif;
  }
  .contact--subtitle {
    font-size: 1.25em;
    margin-top: 0px;
    padding-top: 0px;
    font-family: 'Montserrat', sans-serif;
    color:  #383775;
  }
}

@media only screen and (min-width: 500px){
  .landing-text__container {
    margin-top: 31%
  }
  
  .project-img {
    width: 350px;
    height: 200px;
    display: block;
  }

  .landing-text__title {
    font-size: 2.33em;
  }

  .landing-text__subtitle {
    font-size: 2.7em;
    margin-bottom: 0px;
  }
  .landing-text__intro {
    font-size: 1.5em;
}
}

/* Tablet devices in landscape mode */
@media only screen and (min-width: 768px) {
  .landing-text__title {
    font-size: 4em;
  }

  .landing-text__subtitle {
    font-size: 2.75em;
    margin-bottom: 0px;
  }
  .landing-text__intro {
    font-size: 1.5em;
  }

  .landing-text__container {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 16%;
  }
  about-me__title, .projects--title {
    font-size: 6em;
  }

  .expertise--title{
    font-size: 4em;
  }
/* 
  .projects--heading {
    font-size: 3em;
    margin-bottom: 0;
  } */
  /* .projects--role {
    font-size: 2em;
    margin-top: 0;
  } */

  .projects--text, .about-me__text {
    /* font-size: 1.5em; */
    font-family: 'Montserrat', sans-serif;
  }
  .contact--title{
    font-size: 3em;
  }
  .contact--subtitle{
    font-size: 2em;
  }

  .skills-container {
    display: flex;
    flex-direction: row;
  }
}

/* Desktop and large screens */
@media only screen and (min-width: 1000px) {
  .landing-text__title {
    font-size: 5.7em;
    margin-bottom: -20px;
  }
  .landing-text__container {
    margin-top: 10%;
  }
  .landing-text__subtitle {
    font-size: 4em;
    margin-bottom: -20px;
  }
  .landing-text__intro {
    font-size: 1.5em;
  }

  .about-me__title,
  .projects--title, .expertise--title {
  font-size: 8em;
  margin-left: 25px;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: left;
  flex-grow: 3;
  }

  .about_me-text__container {
    text-align: justify;
    color: black;
    margin-bottom: 30px;
  }
  /* .projects--heading {
    font-size: 36px;
  } */
  
  /* .projects--role {
    font-size: 30px;
  } */
}

