.container {
  display: flex;
  flex-direction: column;
  margin: 20 15;
}

body {
  margin: 0;
}
.landing-container {
  /* display: flex;
  flex-direction: column; */
  text-align: left;
  border: 2px solid black;
  height: 100vh;
}
.landing-text__container {
  /* max-width: 50rem; */
  margin-left: 2rem;
  margin-right: 2rem;
}

.landing-text__title {
  font-size: 5.7em;
  margin-bottom: -20px;
}

.landing-text__subtitle {
  font-size: 4em;
  margin-bottom: -20px;
}

.landing-text__intro {
  font-size: 1.5em;
}

.nav {
  margin-top: 20px;
  margin-right: 4rem;
}
.nav-link {
  text-decoration: none;
  float: right;
  margin-right: 30px;
  margin-top: 1rem;
}

/* About */
.about_me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me__title,
.projects--title {
  font-size: 6em;
  margin-left: 25px;
  margin-top: 0px;
  margin-bottom: 10px;
}
.about_me-text__container {
  text-align: justify;

  color: black;
  margin-bottom: 30px;
}

/* p .about-me__text, */
.about_me-text__container {
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 1.5em;
}

/* Projects */
.projects-container {
  height: 100vh;
  background-color: green;
  margin-bottom: 0;
}

.prooject-card {
  margin: 0 auto;
}

.projects--text {
  max-width: 600px;
  text-align: justify;
  margin: 0 auto;
}

.project-img {
  width: 350px;
  height: 200px;
}

/* Contact */
.contact-container {
  height: 100vh;
  background-color: yellow;
  padding: 20px 15px 20px 15px;
}
.contact--title {
  font-size: 4em;
  margin: 0 auto;
}

.contact--subtitle {
  font-size: 3em;
  margin: 0 auto;
}

/* Mobile devices */
@media only screen and (max-width: 400px) {
  .landing-text__title {
    font-size: 1.5rem;
  }

  .landing-text__subtitle,
  .landing-text__intro {
    font-size: 0.85rem;
  }

  .main-projects {
    display: flex;
    flex-direction: column;
    width: 375px;
    font-size: 10px;
  }
}
