/* Root */
:root{
  --landing-border-color: linear-gradient(180deg, #DDD6F3, #FAAACA);
  --bg-color:white;
  --heading-color: linear-gradient(to right,#7B4397, #FFAFBD);
  --contact-button-color: linear-gradient(to right, #7B4397, #F2709C);
  --project-button-color: linear-gradient(to right, #FAACA8, #F2709C);
  --primary-text-color: #383775;
  --secondary-text-color: white;
  --primary-accent-color: #F2709C;
  --secondary-accent-color: #7B4397;
  --contact-bg-color: linear-gradient(to right, #DDD6F3, #FAACA8)
}
.container {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  
}

.landing-container {
  width: 100vw;
  height: 100vh;
  border: 15px solid transparent;
  box-sizing: border-box;
  font-size: 1em;
  padding: 1rem 4rem 4rem 1rem;
  display:flex;
  justify-content: center;
}

.animated {
  background-image:
  linear-gradient(white, white),
  linear-gradient(180deg, #DDD6F3, #FAAACA);
  background-repeat: no-repeat;
  background-size: 100% 100%, 100% 200%;
  background-position: 0 0, 0 100%;
  background-origin: padding-box, border-box;
  animation: highlight 1s infinite alternate;
}

@keyframes highlight {
  100% {
    background-position: 0 0, 0 0;
  }
}

@-webkit-keyframes highlight {
  100% {
    background-position: 0 0, 0 0;
  }
}

@-moz-keyframes highlight {
  100% {
    background-position: 0 0, 0 0;
  }
}

.about-me__text{
  margin: auto 6rem;
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  font-weight: lighter;
  line-height: 2.5;
}


/* Projects */
.projects-container {
  background: var(--bg-color);
  font-family: 'Roboto', sans-serif;
  padding-bottom: 2em;
  margin-right: 4rem;
  margin-left: 4rem;
}

h1[data-text] {
  display:inline-block;
  font-size:90px;
  font-weight:bold;
  font-family: 'Roboto', sans-serif;
  position:relative;
  margin: 4rem 2rem;
  grid-area: Heading;
}
h1[data-text]:before {
  content:attr(data-text);
  background: var(--heading-color);
  -webkit-text-stroke: 5px transparent;    
  -webkit-background-clip: text;
  background-clip: text;
  color:transparent;
}
h1[data-text]:after {
  content:attr(data-text);
  left:0;
  top:0;
  position:absolute;
  background-image: linear-gradient(white, white);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.project--title {
  color: var(--primary-text-color);
}

.project-img{
  width: 40%;
  height: 15%;
  margin-right: 10%;
  margin-bottom: 5%;
}

.project--container{
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.project--link {
  color: var(--bg-color);
  background: var(--project-button-color);
  text-decoration: none;
  border: 1px solid;
  border-radius: 10px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 10%;
}

.project--text{
  text-align: justify;
  margin: 0 2rem 2rem 0;
  line-height: 1.5em;
  color: var(--primary-text-color);
}

/* Skills */
.skills-container{
  background: var(bg-color);
    
}

.skills-list{
  display: grid;
  grid-template-columns: 0.9fr 1.1fr repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px 20px;
  grid-template-areas: ". . . ." ". . . .";
}

.skills-list li {
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  color:  var(--primary-accent-color);
  margin-right: 10rem;
  fill: var(--primary-accent-color);
  text-align: center;
} 

.skills-list-img {
  width: 4rem;
  height: 4rem;
}


.expertise--title, .contact--title {
  flex-grow: 2;
  width: 100%;
  font-family: 'Roboto', sans-serif;

}
.contact--title {
  width: 100%;
  color: var(--heading-color);
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  justify-content: center;
}

/* Contact */
.contact--title {
  font-size: 4em;
  background: linear-gradient(to right,#7B4397, #FFAFBD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  margin: 2rem auto;
}

.contact-button a{
  text-align: center;
  margin-bottom: 1rem;
}
.contact__text-container{
  /* text-align: center; */
  /* margin-top: 100px; */
  padding: 90px 0;
}

/* footer */
footer {
  background: var(--bg-color);
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
footer a {
  margin-right: 1.5em;
  text-decoration: none;
  color: inherit;
  font-family: 'Roboto', sans-serif;
  color: var(--secondary-accent-color);
  margin: 0 auto;
}

.contact--subtitle {
  font-size: 1.25em;
  background: -webkit-linear-gradient(to right,#7B4397, #FFAFBD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  justify-content: center;
}

.contact-button {
  background: var(--contact-button-color);
  color: var(--bg-color);
  border: 1px solid;
  border-radius: 1rem;
  padding: 16px 30px 16px 30px;
  text-align: center;
}

.contact--links{
  text-align: center;
  padding: 2rem 0;
}

.contact--links a{
  margin-right: 1rem;
}

/* MEDIA QUERIES */
/* Mobile devices */
  @media screen and (min-width: 300px){
    .about-me__text{
      margin: auto 2rem;
      line-height: 1.5;
    }

     @media screen and (max-width: 500px){
      .project--link {
        margin-right: 15%;
        
      }

      .skills-list-img {
        width: 2rem;
        height: 2rem;
      }

      .skills-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 1% 1%;
        grid-template-areas: ". ." ". ." ". ." ". ." ". ." ". ." ". .";
        margin-bottom: 3%;
      }

      footer {
        margin-top: 4rem;
        
      }

      .contact--title {
        font-size: 2.5rem;
        margin-bottom: 2rem;
      }

      @media screen and (max-width: 600px){
        .about-me__text{
          margin: auto 0.8rem;
          line-height: 1.5;
        }
      
        .landing-container {
          width: 100vw;
          height: 100vh;
      
          padding: 1rem 1rem 1rem 1rem;
      
        }
      
        .project--container{
          display: flex;
          flex-direction: column;
          margin-bottom: 30px;
        }
      
        .project-img{
          width: 80%;
          margin: 0 auto;
      
        }
       
}


