/* Root */
:root{
  --landing-border-color: linear-gradient(180deg, #DDD6F3, #FAAACA);
  --bg-color:white;
  --heading-color: linear-gradient(to right,#7B4397, #FFAFBD);
  --project-button-color: linear-gradient(to right, #FAACA8, #F2709C);
  --primary-text-color: #383775;
  --secondary-text-color: white;
  --expertise-bg-color: #DDD6F3;
  --contact-bg-color: linear-gradient(to right, #DDD6F3, #FAACA8)
}
.container {
  display: flex;
  flex-direction: column;
  /* margin: 0; */
}

body {
  margin: 0;
  
}

.landing-container {
  /* text-align: left;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--landing-bg-color);
  background-size: 600% 600%;
  -webkit-animation: GradientFade 19s ease infinite;
  -moz-animation: GradientFade 19s ease infinite;
  animation: GradientFade 19s ease infinite; */
  width: 100vw;
  height: 100vh;
  border: 15px solid transparent;
  box-sizing: border-box;
  font-size: 1em;
  padding: 1rem 4rem 4rem 1rem;
  display:flex;
  justify-content: center;
}

.animated {
  background-image:
  linear-gradient(white, white),
  linear-gradient(180deg, #DDD6F3, #FAAACA);
  background-repeat: no-repeat;
  background-size: 100% 100%, 100% 200%;
  background-position: 0 0, 0 100%;
  background-origin: padding-box, border-box;
  animation: highlight 1s infinite alternate;
}

@keyframes highlight {
  100% {
    background-position: 0 0, 0 0;
  }
}

@-webkit-keyframes highlight {
  100% {
    background-position: 0 0, 0 0;
  }
}

@-moz-keyframes highlight {
  100% {
    background-position: 0 0, 0 0;
  }
}

.about-me__text{
  margin: auto 6rem;
  color: var(--primary-text-color);
  font-family: sans-serif;
  text-align: justify;
  font-weight: lighter;
}

.projects-container, .expertise-container {
  height: 100vh;
}

/* Projects */
.projects-container {
  background: var(--bg-color);
  /* color: var(--secondary-text-color); */
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 2em;
  margin-right: 4rem;
  margin-left: 4rem;
}

h1[data-text] {
  display:inline-block;
  font-size:90px;
  font-weight:bold;
  font-family:arial;
  position:relative;
  margin: 4rem 2rem;
}
h1[data-text]:before {
  content:attr(data-text);
  background: var(--heading-color);
  -webkit-text-stroke: 5px transparent;    
  -webkit-background-clip: text;
  background-clip: text;
  color:transparent;
}
h1[data-text]:after {
  content:attr(data-text);
  left:0;
  top:0;
  position:absolute;
  background-image: linear-gradient(white, white);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.project--title {
  color: var(--primary-text-color);
}

.project--container{
  display: grid;
  grid-auto-flow: column;
  grid-gap: 50px 80px;
  
}

.project--link {
  color: var(--bg-color);
  background: var(--project-button-color);
  text-decoration: none;
  border: 1px solid white;
  border-radius: 10px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.projects--text{
  text-align: justify;
  margin: 0 2rem 2rem 0;
  line-height: 1.5em;
  color: var(--primary-text-color);
}

/* Expertise */
.expertise-container {
  background: var(bg-color);
}
.contact--title {
  flex-grow: 2;
  width: 100%;
  -webkit-text-stroke: 3px #383775;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: 3px #383775;
  -webkit-text-fill-color: transparent;

}
.expertise--list-1, .expertise--list-2 li {
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
  color:  var(--primary-text-color);
} 

/* Contact */
.contact-container {
  height: 100vh;
  background: var(--contact-bg-color);
}
.contact--title {
  font-size: 4em;
  margin-bottom: 10px;
}
.contact__text-container{
  text-align: center;
  margin-top: 100px;
  padding: 90px 0;
}
.contact--subtitle {
  font-size: 3em;
}

/* footer */
footer {
  background: var(--contact-bg-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer a {
  margin-right: 1.5em;
  text-decoration: none;
  color: inherit;
  font-family: 'Montserrat', sans-serif;
  color: var(--primary-text-color)
}

.contact--subtitle {
  font-size: 1.25em;
}


/* MEDIA QUERIES */

/* Mobile devices */
@media only screen and (min-width: 320px) {
  .landing-text__container {
    margin: 2em 1em 0 3em;
  }



  .projects--title, .expertise--title {
    font-size: 3em;
    padding-top: 2.5rem;
    margin: 5px 0 5px 18px;
    text-align: left;
    flex-grow: 3;
    font-weight: 1000;
    font-family: 'Arimo', sans-serif;
}

.projects--title {
  -webkit-text-stroke: 3px black;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: 3px black;
  -webkit-text-fill-color: transparent;
}



  .about_me-text__container, .project-card {
    margin: 0 1rem 0 1rem;
  }

  .skills-container {
    font-size: 0.8rem;
  }

  .contact__text-container {
    text-align: center;
    margin-top: 5rem;
    padding: 90px 0;
  }
  .contact--title {
    font-size: 1.75rem;
    margin-bottom: 10px;
    font-family: 'Arimo', sans-serif;
  }
  .contact--subtitle {
    font-size: 1.25em;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color:  var(--primary-text-color);
  }
}

@media only screen and (min-width: 500px){
  .project-img {
    width: 350px;
    height: 200px;
    display: block;
  }



.about-me-text__container{
    font-size: 0.85rem;
  }
}

/* Tablet devices in landscape mode */
@media only screen and (min-width: 768px) {



  .projects--title {
    font-size: 6em;
  }

  .expertise--title{
    font-size: 4em;
  }

  .projects--text, .about-me__text, .expertise--list-1, .expertise--list-2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
  }
  .projects--text {
    font-size: 1rem;
  }
  .projects--role, .projects--heading, .projects--heading-main {
    font-size: 1.2rem;
  }
  .contact--title{
    font-size: 3em;
  }
  .contact--subtitle{
    font-size: 2em;
  }

  .skills-container {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
  }
}

/* Desktop and large screens */
@media only screen and (min-width: 1000px) {

  .projects--title, .expertise--title {
    font-size: 8em;
    /* margin: 0 0 10px 25px; */
    text-align: left;
    flex-grow: 3;
  }

  .about_me-text__container {
    text-align: justify;
  }
}

